In [121]:
import pandas as pd

In [122]:
dataset = pd.read_csv('Nashville Housing Data for Data Cleaning.csv')
dataset.head(2)

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",9-Apr-13,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",10-Jun-14,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0

In [123]:
dataset.shape

(56477, 19)

In [124]:
# To know the data type
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  object
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: float64(8), int64(1), object(10)
memory usage: 8.2+ MB

In [125]:
# Total missing values in percentage
(dataset.isnull().sum()/dataset.shape[0])*100

UniqueID            0.000000
ParcelID            0.000000
LandUse             0.000000
PropertyAddress     0.051348
SaleDate            0.000000
SalePrice           0.000000
LegalReference      0.000000
SoldAsVacant        0.000000
OwnerName          55.272058
OwnerAddress       53.937001
Acreage            53.937001
TaxDistrict        53.937001
LandValue          53.937001
BuildingValue      53.937001
TotalValue         53.937001
YearBuilt          57.216212
Bedrooms           57.226836
FullBath           57.017901
HalfBath           57.249854
dtype: float64

In [126]:
dataset.dropna(inplace=True)

In [127]:
dataset.shape

(23705, 19)

In [128]:
dataset.isnull().sum()

UniqueID           0
ParcelID           0
LandUse            0
PropertyAddress    0
SaleDate           0
SalePrice          0
LegalReference     0
SoldAsVacant       0
OwnerName          0
OwnerAddress       0
Acreage            0
TaxDistrict        0
LandValue          0
BuildingValue      0
TotalValue         0
YearBuilt          0
Bedrooms           0
FullBath           0
HalfBath           0
dtype: int64

PropertyAddress (Splitting this column into PropertyAddress and PropertyCity)

In [129]:
dataset[['PropertySplitAddress', 'PropertySplitCity']] = dataset['PropertyAddress'].str.split(',', expand=True) # expand=True ensures the result is split into separate columns
dataset.drop(columns=['PropertyAddress'], inplace=True)

In [130]:
dataset.head(1)

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,PropertySplitAddress,PropertySplitCity
0,2045,007 00 0 125.00,SINGLE FAMILY,9-Apr-13,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808 FOX CHASE DR,GOODLETTSVILLE

In [131]:
# Replace 'PropertyAddress' column with 'PropertySplitAddress' and 'PropertySplitCity' in the position of 'PropertyAddress' column
cols = list(dataset.columns.values)
dataset = dataset[cols[0:3] + [cols[-2]] + [cols[-1]] + cols[3:18]]

In [132]:
dataset.head(1)

,UniqueID,ParcelID,LandUse,PropertySplitAddress,PropertySplitCity,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,1808 FOX CHASE DR,GOODLETTSVILLE,9-Apr-13,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0

SaleDate (Converting the datatype from object to datetime)

In [133]:
dataset['SaleDate'] = pd.to_datetime(dataset['SaleDate'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_1780\2023744684.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset['SaleDate'] = pd.to_datetime(dataset['SaleDate'])

In [134]:
print(dataset['SaleDate'].dtype)

datetime64[ns]

In [135]:
print(dataset['SaleDate'])

0       2013-04-09
1       2014-06-10
2       2016-09-26
3       2016-01-29
4       2014-10-10
           ...
54210   2016-07-08
54211   2015-07-27
54212   2014-09-05
54213   2014-11-24
54214   2014-11-12
Name: SaleDate, Length: 23705, dtype: datetime64[ns]

SalePrice (Converting the datatype from object to float)

In [136]:
import re
dataset['SalePrice'] = dataset['SalePrice'].str.replace('[$,]', '', regex=True).str.strip() #regex is used because it firstly identify the pattern ($, ,) and clean it, instead of directly converting to numeric type

In [137]:
dataset['SalePrice'] = pd.to_numeric(dataset['SalePrice']).astype(float)

In [138]:
print(dataset['SalePrice'].dtype)

float64

SoldAsVacant (Replace 'Yes' with 'Y' and 'No' with 'N')

In [139]:
dataset['SoldAsVacant'] = dataset['SoldAsVacant'].replace({'Yes': 'Y', 'No': 'N'})

In [140]:
print(dataset['SoldAsVacant'])

0        N
1        N
2        N
3        N
4        N
        ..
54210    N
54211    N
54212    N
54213    N
54214    N
Name: SoldAsVacant, Length: 23705, dtype: object

OwnerAddress (Splitting this column into OwnerSplitAddress, OwnerSplitCity, and OwnerSplitState)

In [141]:
dataset[['OwnerSplitAddress', 'OwnerSplitCity', 'OwnerSplitState']] = dataset['OwnerAddress'].str.split(',', expand=True)
dataset.drop(columns=['OwnerAddress'], inplace=True)

In [142]:
dataset.head(1)

,UniqueID,ParcelID,LandUse,PropertySplitAddress,PropertySplitCity,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,OwnerSplitAddress,OwnerSplitCity,OwnerSplitState
0,2045,007 00 0 125.00,SINGLE FAMILY,1808 FOX CHASE DR,GOODLETTSVILLE,2013-04-09,240000.0,20130412-0036474,N,"FRAZIER, CYRENTHA LYNETTE",...,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0,1808 FOX CHASE DR,GOODLETTSVILLE,TN

In [143]:
# Replace 'OwnerAddress' column with 'OwnerSplitAddress', 'OwnerSplitCity', 'OwnerSplitState' in the position of 'OwnerAddress' column
cols = list(dataset.columns.values)
dataset = dataset[cols[0:10] + [cols[-3]] + [cols[-2]] + [cols[-1]] + cols[10:19]]

In [144]:
dataset.head(1)

,UniqueID,ParcelID,LandUse,PropertySplitAddress,PropertySplitCity,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,...,OwnerSplitState,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,1808 FOX CHASE DR,GOODLETTSVILLE,2013-04-09,240000.0,20130412-0036474,N,"FRAZIER, CYRENTHA LYNETTE",...,TN,2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0

YearBuilt (Converting the datatype from float to int)

In [145]:
dataset['YearBuilt'] = pd.to_numeric(dataset['YearBuilt']).astype(int)

In [146]:
print(dataset['YearBuilt'].dtype)

int32

Bedrooms (Converting the datatype from float to int)

In [147]:
dataset['Bedrooms'] = pd.to_numeric(dataset['Bedrooms']).astype(int)

In [148]:
print(dataset['Bedrooms'].dtype)

int32

FullBath (Converting the datatype from float to int)

In [149]:
dataset['FullBath'] = pd.to_numeric(dataset['FullBath']).astype(int)

In [150]:
print(dataset['FullBath'].dtype)

int32

HalfBath (Converting the datatype from float to int)

In [151]:
dataset['HalfBath'] = pd.to_numeric(dataset['HalfBath']).astype(int)

In [152]:
print(dataset['HalfBath'].dtype)

int32

In [153]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23705 entries, 0 to 54214
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   UniqueID              23705 non-null  int64
 1   ParcelID              23705 non-null  object
 2   LandUse               23705 non-null  object
 3   PropertySplitAddress  23705 non-null  object
 4   PropertySplitCity     23705 non-null  object
 5   SaleDate              23705 non-null  datetime64[ns]
 6   SalePrice             23705 non-null  float64
 7   LegalReference        23705 non-null  object
 8   SoldAsVacant          23705 non-null  object
 9   OwnerName             23705 non-null  object
 10  OwnerSplitAddress     23705 non-null  object
 11  OwnerSplitCity        23705 non-null  object
 12  OwnerSplitState       23705 non-null  object
 13  Acreage               23705 non-null  float64
 14  TaxDistrict           23705 non-null  object
 15  LandValue             23705 non-null  float64
 16  BuildingValue         23705 non-null  float64
 17  TotalValue            23705 non-null  float64
 18  YearBuilt             23705 non-null  int32
 19  Bedrooms              23705 non-null  int32
 20  FullBath              23705 non-null  int32
 21  HalfBath              23705 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(4), int64(1), object(11)
memory usage: 3.8+ MB

Delete Unused Column(s) like PropertyAddress, OwnerAddress, TaxDistrict
(PropertyAddress and OwnerAddress columns are already deleted)

In [154]:
dataset.drop(columns=['TaxDistrict'], inplace=True)

In [155]:
dataset.columns

Index(['UniqueID ', 'ParcelID', 'LandUse', 'PropertySplitAddress',
       'PropertySplitCity', 'SaleDate', 'SalePrice', 'LegalReference',
       'SoldAsVacant', 'OwnerName', 'OwnerSplitAddress', 'OwnerSplitCity',
       'OwnerSplitState', 'Acreage', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath'],
      dtype='object')

Identifying and Handling Duplicates if any

In [156]:
# checking for duplicates if any
duplicates = dataset.duplicated().sum()
print(duplicates)

0

Identifying and Handling Outliers if any

In [157]:
# Identifying outliers using Descriptive Statistics (InterQuartile Range) 
# 1) For SalePrice
import numpy as np

# Identify outliers in a column
Q1 = dataset['SalePrice'].quantile(0.25)
Q3 = dataset['SalePrice'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['SalePrice'] < lower_bound) | (dataset['SalePrice'] > upper_bound)
outliers = dataset['SalePrice'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -174850.0
Upper Bound =  624750.0
1223      728000.0
2616      629000.0
2839     1200000.0
4329     1100000.0
4330      975000.0
           ...
47093     650000.0
47095     710000.0
47409     727500.0
51146     775000.0
54068     983648.0
Name: SalePrice, Length: 1710, dtype: float64
Total Outliers =  1710

In [158]:
# Handling outliers using mean
mean = round(dataset['SalePrice'].mean())
dataset['SalePrice'] = dataset['SalePrice'].apply(lambda x: mean if x < lower_bound or x > upper_bound else x)
# print(mean)

In [159]:
# Checking whether the outliers are handled
outliers_l_a = (dataset['SalePrice'] < lower_bound) | (dataset['SalePrice'] > upper_bound)
outliers = dataset['SalePrice'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: SalePrice, dtype: float64)
Total Outliers =  0

In [160]:
# 2) For Acreage
# Identify outliers in a column
import numpy as np

Q1 = dataset['Acreage'].quantile(0.25)
Q3 = dataset['Acreage'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['Acreage'] < lower_bound) | (dataset['Acreage'] > upper_bound)
outliers = dataset['Acreage'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -0.2
Upper Bound =  0.8400000000000001
0        2.30
1        3.50
2        2.90
3        2.60
4        2.00
         ...
54209    3.00
54210    3.00
54211    3.00
54212    3.03
54213    1.03
Name: Acreage, Length: 3132, dtype: float64
Total Outliers =  3132

In [161]:
# Handling outliers using mean
mean = round(dataset['Acreage'].mean(),2)
dataset['Acreage'] = dataset['Acreage'].apply(lambda x: mean if x < lower_bound or x > upper_bound else x)
# print(mean)

In [162]:
# Checking whether the outliers are handled
outliers_l_a = (dataset['Acreage'] < lower_bound) | (dataset['Acreage'] > upper_bound)
outliers = dataset['Acreage'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: Acreage, dtype: float64)
Total Outliers =  0

In [163]:
# 5) For LandValue
import numpy as np

# Identify outliers in a column
Q1 = dataset['LandValue'].quantile(0.25)
Q3 = dataset['LandValue'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['LandValue'] < lower_bound) | (dataset['LandValue'] > upper_bound)
outliers = dataset['LandValue'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -35450.0
Upper Bound =  117750.0
3228     154400.0
4182     249000.0
4324     200000.0
4325     400000.0
4326     140000.0
           ...
47093    200000.0
47095    200000.0
50769    145500.0
50770    156000.0
50781    130600.0
Name: LandValue, Length: 4299, dtype: float64
Total Outliers =  4299

In [164]:
# Handling outliers using mean
mean = round(dataset['LandValue'].mean())
dataset['LandValue'] = dataset['LandValue'].apply(lambda x: mean if x < lower_bound or x > upper_bound else x)
# print(mean)

In [165]:
# Checking whether the outliers are handled
outliers_l_a = (dataset['LandValue'] < lower_bound) | (dataset['LandValue'] > upper_bound)
outliers = dataset['LandValue'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: LandValue, dtype: float64)
Total Outliers =  0

In [166]:
# 5) For BuildingValue
import numpy as np

# Identify outliers in a column
Q1 = dataset['BuildingValue'].quantile(0.25)
Q3 = dataset['BuildingValue'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['BuildingValue'] < lower_bound) | (dataset['BuildingValue'] > upper_bound)
outliers = dataset['BuildingValue'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -74050.0
Upper Bound =  347150.0
168      390300.0
435      352800.0
2442     436000.0
2443     436000.0
2444     358600.0
           ...
51001    382900.0
51002    365200.0
51074    351300.0
51146    519900.0
51199    391200.0
Name: BuildingValue, Length: 2017, dtype: float64
Total Outliers =  2017

In [167]:
# Handling outliers using mean
mean = round(dataset['BuildingValue'].mean())
dataset['BuildingValue'] = dataset['BuildingValue'].apply(lambda x: mean if x < lower_bound or x > upper_bound else x)
# print(mean)

In [168]:
# Checking whether the outliers are handled
outliers_l_a = (dataset['BuildingValue'] < lower_bound) | (dataset['BuildingValue'] > upper_bound)
outliers = dataset['BuildingValue'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: BuildingValue, dtype: float64)
Total Outliers =  0

In [169]:
# 5) For Bedrooms
import numpy as np

# Identify outliers in a column
Q1 = dataset['Bedrooms'].quantile(0.25)
Q3 = dataset['Bedrooms'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['Bedrooms'] < lower_bound) | (dataset['Bedrooms'] > upper_bound)
outliers = dataset['Bedrooms'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  1.5
Upper Bound =  5.5
197      0
202      6
254      8
435      6
682      6
        ..
48717    6
48775    6
48789    8
48911    6
51073    7
Name: Bedrooms, Length: 426, dtype: int32
Total Outliers =  426

In [170]:
# Handling outliers using median
median = dataset['Bedrooms'].median()
dataset['Bedrooms'] = dataset['Bedrooms'].apply(lambda x: median if x < lower_bound or x > upper_bound else x)
# print(median)

In [171]:
outliers_l_a = (dataset['Bedrooms'] < lower_bound) | (dataset['Bedrooms'] > upper_bound)
outliers = dataset['Bedrooms'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: Bedrooms, dtype: float64)
Total Outliers =  0

In [172]:
# 6) For FullBath
import numpy as np

# Identify outliers in a column
Q1 = dataset['FullBath'].quantile(0.25)
Q3 = dataset['FullBath'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['FullBath'] < lower_bound) | (dataset['FullBath'] > upper_bound)
outliers = dataset['FullBath'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -0.5
Upper Bound =  3.5
13       4
21       4
30       4
147      4
167      5
        ..
51146    4
51199    4
51211    4
52168    4
54209    4
Name: FullBath, Length: 1417, dtype: int32
Total Outliers =  1417

In [173]:
median = dataset['FullBath'].median()
dataset['FullBath'] = dataset['FullBath'].apply(lambda x: median if x < lower_bound or x > upper_bound else x)
# print(median)

In [174]:
outliers_l_a = (dataset['FullBath'] < lower_bound) | (dataset['FullBath'] > upper_bound)
outliers = dataset['FullBath'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: FullBath, dtype: float64)
Total Outliers =  0

In [175]:
# 5) For HalfBath
import numpy as np

# Identify outliers in a column
Q1 = dataset['HalfBath'].quantile(0.25)
Q3 = dataset['HalfBath'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound = ",lower_bound)
print("Upper Bound = ",upper_bound)

# Find outliers
outliers_l_a = (dataset['HalfBath'] < lower_bound) | (dataset['HalfBath'] > upper_bound)
outliers = dataset['HalfBath'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Lower Bound =  -1.5
Upper Bound =  2.5
15881    3
25311    3
25853    3
30833    3
31444    3
31499    3
31502    3
31546    3
31547    3
32426    3
35892    3
35893    3
36609    3
37120    3
37647    3
37937    3
37938    3
38168    3
42249    3
42253    3
42254    3
42275    3
42402    3
42490    3
46882    3
Name: HalfBath, dtype: int32
Total Outliers =  25

In [176]:
median = dataset['HalfBath'].median()
dataset['HalfBath'] = dataset['HalfBath'].apply(lambda x: median if x < lower_bound or x > upper_bound else x)
# print(median)

In [177]:
outliers_l_a = (dataset['HalfBath'] < lower_bound) | (dataset['HalfBath'] > upper_bound)
outliers = dataset['HalfBath'][outliers_l_a]
print(outliers)

total_outliers = np.sum(outliers_l_a)
print("Total Outliers = ",total_outliers)

Series([], Name: HalfBath, dtype: float64)
Total Outliers =  0

In [178]:
dataset.to_csv('HousingData_Cleaned.csv', index=False)